.footer-signup {
  h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 55px;
  }
}
.dark-blue {
  .terms{
    padding-top: 50px;
    font-size: 12px;
	color: grey;
  }
  p {
    height: 60px;
    border: 0;
    padding: 0px 6px 0px 6px;
    margin-bottom: 0;

    .ico-email {
      display: inline-block;
      vertical-align: middle;
      height: 24px;
      width: 24px;
      background-image: url('../img/global-s116e8c6936.png');
      background-position: 0 -386px;
      background-repeat: no-repeat;
    }
    .ico-user {
      display: inline-block;
      vertical-align: middle;
      height: 24px;
      width: 24px;
      background-image: url('../img/global-s116e8c6936.png');
      background-position: 0 -474px;
      background-repeat: no-repeat;
    }
    .ico-lock {
      display: inline-block;
      vertical-align: middle;
      height: 24px;
      width: 24px;
      background-image: url('../img/global-s116e8c6936.png');
      background-position: 0 -430px;
      background-repeat: no-repeat;
    }
    button {
      height: 60px;
      border: 0;
      padding: 0px 6px 0px 6px;
      margin-bottom: 0;
      background-color: rgb(244, 33, 86);
      border-radius: 5px;
      width: 260px;
      color: white;
      font-size: 15px;
      line-height: 1em;
      font-family: "brandon-grotesque", sans-serif;
      font-weight: 700;
    }

    i {
      position: absolute;
      top: 16px;
      left: 25px;
    }

  }

  form {

    label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 18px;
      color: #8a959e;
      margin: 19px 0px 0px 60px;
      font-weight: 400;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
    input {
      border-radius: 4px;
      border-color: transparent;
      padding-left: 48px;
      width: 100%;
      height: 100%;
      font-size: 18px;
    }
    input:focus{
      outline: none;
    }
  }

}
